@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-self: center;
    background-size: 100%;
    background-color: #E0E8FF;
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    width: 450px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
h2{
    margin-top: 44px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 900;
}
p{
    margin: 0px 60px;
    font-size: 18px;
}
.plan{
    display: flex;
    background-color: #FAFAFA;
    width: 80%;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
}
.plan img{
    height: 48px;
}
.plan a{
    text-decoration: none;
    margin: 10px;
}
.pl{
    display: flex;
    justify-content: flex-start;
}
.pl p{
    margin-left: 20px;
    
}
.btns{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
#btn1,#btn2{
    width: 355px;
    height: 50px;
    background-color: #3829E1;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
#btn1:hover{
    transition: 0.6s;
    background-color: #4838f1;
}
#btn2{
    margin-top: 16px;
    background-color: white;
    color: black;
    text-decoration: none;
}